# Ignore Editor settings and project file.
*.iml
/.idea/

# Ignore my input and output files.
/inputs/*

# Ignore generated nREPL file.
.nrepl-port

# Ignore other files not related to Advent of Code.
/src/problems99/*
/src/misc/*
/outputs/*

# Keep the HOW-TO-USE files.
!/inputs/HOW-TO-USE.txt
!/outputs/HOW-TO-USE.txt
