# Ignore Editor settings and project file.
*.iml
/.idea/

# Ignore my input files
/inputs/day*
/inputs/example.txt

# Ignore generated nREPL file.
.nrepl-port

# Ignore other files not related to Advent of Code.
/src/problems99/*
/src/misc/*
